@import url(/css/fonts.googleapis.com_css_family=Lato&display=swap.css);
@import url(/css/cdnjs.cloudflare.com_ajax_libs_font-awesome_5.10.2_css_all.min.css);

.medium-zoom-overlay {
    z-index: 100
}

.medium-zoom-overlay~img {
    z-index: 101
}

@font-face {
    font-family: NOXONE_GLOBAL_FONT;
    src: url(/font/Alimama_DongFangDaKai_Regular.woff) format("woff"), url(/font/Alimama_DongFangDaKai_Regular.woff2) format("woff"), url(/font/Alimama_DongFangDaKai_Regular.ttf) format("truetype")
}

* {
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0)
}

.abstract-wrapper,
.home-blog,
.info-wrapper,
.noxone-music,
.NoxoneLive2D,
.tags {
    font-family: NOXONE_GLOBAL_FONT
}

.search-box {
    font-family: none
}

body {
    cursor: url(/font/default.cur), auto
}

.hover:hover,
.social-item,
.tags span,
a,
button,
i,
input,
.title,
.abstract-item {
    cursor: url(/font/select.cur), auto !important
}

input:focus {
    cursor: url(/font/text.cur), auto !important
}